<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>タイトル</title>
</head>
<body>
  <h1>ようこそ、LINEスタンプコースお試しサービスへ</h1>
  <form action="/chat" method="get">
    <input name="name" placeholder="名前を入れてね">
    <input type="submit">
  </form>
</body>
</html>